In [1]:
# probability of getting 3 when a die is rolled
ns = 6      #n(S) = {1, 2, 3, 4, 5, 6}
na = 1      #n(A) = {3}
pa = na/ns  #P(A)
print("probability of getting 3 is: ", pa)

probability of getting 3 is:  0.16666666666666666

In [2]:
# probability of atleast getting one head when a coin is tossed thrice
ns = 8
na = 7
pa = na/ns
print("probability of getting atleast one head is: ",pa)

probability of getting atleast one head is:  0.875

In [3]:
# A glass jar contains 5 red, 3 blue and 2 green jelly beans. If a jelly bean
# is
ns = 10    # n(S) = {5 red, 3 blue, 2 green}
na = 7     # n(A) = {5 red, 2 green}
pa = na/ns
print("probability of getting not blue jellybean is: ",pa)

probability of getting not blue jellybean is:  0.7

In [4]:
# If the probability that person A will be alive in 20 years is 0.7
# and the probability that person B will be alive in 20 years is 0.5,
# what's the probability that they will both be alive in 20 years?

p = 0.7 * 0.5
print("probability that they will be alive after 20 years is: ",p)

probability that they will be alive after 20 years is:  0.35

In [5]:
def event_probability(n, s):
    return n/s

In [6]:
# A fair dice is tossed twice. Find the probability of getting
# a 4 or 5 on the first toss and a 1, 2 or 3 in the second toss.

pa = event_probability(2, 6)
pb = event_probability(3, 6)
p = pa * pb
print("probabililty of getting a 4 or 5 on the first toss is: ", p)

probabililty of getting a 4 or 5 on the first toss is:  0.16666666666666666

In [7]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles. 
# In each draw, a marble is drawn from the bag and not replaced.
# In three draws, find the probability of obtaining white, black 
# and green in that order.

pw = event_probability(5, 10)
pb = event_probability(3, 9)
pg = event_probability(2, 8)
print("probability of obtaining white, black and green marbles in that order is: ", pw *pb * pg)

probability of obtaining white, black and green marbles in that order is:  0.041666666666666664

In [8]:
# Calculate the probability of drawing a heart or a club
# Sample Space

cards = 52
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts, cards) + event_probability(clubs, cards)
print(heart_or_club)

0.5

In [9]:
# Calculate the probability of drawing an ace, king or a queen

cards = 52
ace = 4
kings = 4
queens = 4

ace_or_king_or_queen = event_probability(ace, cards) + event_probability(kings, cards) + event_probability(queens, cards)
print(ace_or_king_or_queen)

0.23076923076923078

In [10]:
# Calculate the probability of drawing a heart or an ace

hearts = 13
ace_of_heart = 1
heart_or_ace = event_probability(ace, cards) + event_probability(hearts, cards) + event_probability(ace_of_heart, cards)
print(heart_or_ace)

0.34615384615384615

In [11]:
# probability of not getting 5 when a fair die is rolled

ns = 6
na = 1
pa = na / ns
print("probability of not getting 5 is: ", 1 - pa)

probability of not getting 5 is:  0.8333333333333334

In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv("D:/MSc CS I/FDS/Practicals/student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [13]:
len(df)

395

In [14]:
df['grade_A'] = np.where(df['G3'] * 5 >= 80, 1, 0)

Make another boolean column called high_absences with a value of

In [15]:
df['high_absences'] = np.where(df['absences'] >= 10, 1, 0)

Add one more column to make building a pivot table easier

In [16]:
df['count'] = 1

drop all columns we dont care about

In [17]:
df = df[['grade_A', 'high_absences', 'count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [18]:
final = pd.pivot_table(df, 
                       values = 'count', 
                       index = ['grade_A'], 
                       columns = ['high_absences'], 
                       aggfunc = np.size, 
                       fill_value = 0
)
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

In [19]:
#  probability of a grade of 80% or greater

Pa = (35 + 5) / (35 + 5 + 277 + 78)
print(Pa)

0.10126582278481013

In [20]:
Pb = (78 + 5) / (35 + 5 + 277 + 78)
print(Pb)

0.21012658227848102

In [21]:
PaAndb = 5 / (35 + 5 + 277 + 78)
print(PaAndb)

0.012658227848101266

In [22]:
print(PaAndb / Pb)

0.060240963855421686